/* CHAT MAIN */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

body {
  background-color: rgb(
    255,
    255,
    255
  ); /* Background color for better visibility */
  color: black;

  margin: 0;
  overflow: hidden;
}

/* CHAT CONTENT */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

.chat-mainframe-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

/* CHAT GROUPS */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

.chat-overview-space {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 28%;
  height: 90%;

  border-top-right-radius: 30px;

  box-shadow: 0 8px 32px 0 rgba(63, 63, 63, 0.37); /* Glassy shadow effect */

  border-width: 1px;
  border-style: solid solid hidden hidden;
  border-color: rgba(196, 196, 196, 0.329);

  background-image: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0.125),
    rgba(255, 255, 255, 0.06)
  );
  backdrop-filter: blur(150px); /* Blur behind the element */

  overflow: hidden;
}

.chat-overview-flexbox {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 110%;
}

.groups-overview-title {
  font-size: 30px;
  padding-left: 20px;

  position: absolute;

  z-index: 1;
}

.groups-overview-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 9% minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);
  gap: 5px;

  bottom: 0;
  left: 0;
  width: 99%;
  height: 100%;

  overflow-y: scroll;

  -webkit-mask-image: linear-gradient(to bottom, transparent 7%, black 100px);
  mask-image: linear-gradient(to bottom, transparent 7%, black 100px);
}

.grid-item {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;

  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* CHAT TEXTING */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

.chat-text-space {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 90%;

  border-top-left-radius: 30px;

  box-shadow: 0 8px 32px 0 rgba(63, 63, 63, 0.37); /* Glassy shadow effect */

  border-width: 1px;
  border-style: solid hidden hidden solid;
  border-color: rgba(196, 196, 196, 0.329);

  background-image: linear-gradient(
    -70deg,
    rgba(0, 0, 0, 0.125),
    rgba(255, 255, 255, 0.06)
  );
  backdrop-filter: blur(150px); /* Blur behind the element */

  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

.chat-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
  padding: 20px;
}

.chat-header {
  text-align: center;
}

.chat-title {
  font-size: 24px;
}

.message-container {
  height: calc(100% - 100px); /* Höhe der Nachrichtenbereichs anpassen */
  overflow-y: scroll; /* Scrollen ermöglichen */
}

.form-msg {
  display: flex;
  width: 80%;
  margin: auto;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-msg input[type="text"] {
  flex: 1; /* Das Texteingabefeld soll den verfügbaren Platz nutzen */
  width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-msg button {
  width: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.form-msg button:hover {
  background-color: #0056b3; /* Hervorgehobene Farbe beim Hover-Effekt */
}

/* BACKGROUND ANIMATION */
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

.moving-circle {
  position: absolute;
  background-color: #007bff; /* Circle color */
  border-radius: 50%; /* Ensure the shape is a circle */
  filter: blur(0px); /* Apply blur effect */
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 3s ease-in, filter 3s ease-in, background-color 0.5s; /* Smooth transitions */
  z-index: -1; /* Set z-index to -1 to move circles behind sliders */
}

.chat-HIDDEN-bg-animation-contols {
  margin-left: 100%;
}
