*{
    transition: all 0.1s ease-in-out;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8%;

    border-width: 1px;
    border-style: hidden hidden solid hidden;
    border-color: rgba(196, 196, 196, 0.329);

    box-shadow: 0 8px 32px 0px rgba(63, 63, 63, 0.37); /* Glassy shadow effect */

    background-image: linear-gradient(175deg, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.06));
    backdrop-filter: blur(150px); /* Blur behind the element */
  
    overflow: hidden;
}

.header-icons{
    width: 20%;
    height: 20%;
    padding: 5px;
}

.header-text{
    font-size: 125%;
    margin: auto 3px auto 3px;
    width: 30%;
}

.header-mainframe-flex{
    width: 30%;
    height: 100%;
    margin: 15px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.header-flex {
    display: flex;
    flex-direction: row;

    margin: auto 3px auto 3px;
}

.header-flex:hover {
    display: flex;
    flex-direction: row;

    padding: 4px;

    margin: auto 3px auto 3px;
}


a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  }