
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/

/* CHAT DARK MODE */

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/


.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 8%;

    border-width: 1px;
    border-style: hidden hidden solid hidden;
    border-color: rgba(65, 65, 65, 0.5);

    background-image: linear-gradient(175deg, rgba(0, 0, 0, 0.125), rgba(255, 255, 255, 0.06));
    backdrop-filter: blur(150px); /* Blur behind the element */
  
    overflow: hidden;
}