

body {
    overflow: hidden;
    background-color: rgb(0, 0, 0); /* Background color for better visibility */
    color: whitesmoke;
    transition: all 0.1s ease-in-out;   
}



.moving-circle {
    position: absolute;
    background-color: #007bff; /* Circle color */
    border-radius: 50%; /* Ensure the shape is a circle */
    filter: blur(0px); /* Apply blur effect */
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 3s ease-in, filter 3s ease-in, background-color 0.5s; /* Smooth transitions */
    z-index: -1; /* Set z-index to -1 to move circles behind sliders */
}
  
  
  .chat-HIDDEN-bg-animation-contols{
    margin-left: 100%;
}